.main-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  margin-bottom: 20px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.horizontal-inputs {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}
.horizontal-inputs div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  border: 1px solid red;
  border-radius: 4px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
  
}

button:hover {
  background-color: #b0b2b4;
}

.summary {
  margin-top: 20px;
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.summary h2 {
  margin-top: 0;
  color: #007bff;
}

.summary p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}


