#image-content {
  padding: 10px;
  border: 2px solid rgb(212, 208, 208);
  background: #d5dff0;
  width: 794px;
  max-width: 794px;
  min-width: 794px;
  box-sizing: border-box;
  margin: 0 auto;
}

.image-content-inner {
  border: 2px solid black;
  background: #fff;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header span.omsairam {
  font-weight: bold;
  font-size: 12px;
  margin-top: 5px;
  color: #000;
}

.header span.agency-name {
  font-family: math;
  font-size: 40px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.header-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-right: 50px;
}

.contact-info span {
  font-size: 15px;
  font-weight: bold;
  color: #000;
  margin-top: -5px;
}

.customer-name {
  display: flex;
  height: 10%;
  margin-top: 12px;
}

.customer-name .label,
.customer-name .value {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
}

.customer-name .value {
  border-bottom: 2px solid #000;
  margin-right: 20px;
  margin-left: 5px;
}

.info-section {
  padding: 0px 20px;
  display: flex;
}

.info-section .info-item {
  width: 100%;
  text-align: start;
  padding-left: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  color: #000;
}

.info-section .date {
  padding-left: 105px;
}

.divider {
  border: 1px solid black;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column.centered {
  justify-content: center;
  align-items: center;
}

.balance-section p,
.total-section p {
  font-size: 13px;
  margin-right: 20px;
  font-weight: bold;
  text-align: right;
  font-family: sans-serif;
  color: #000;
}